@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Lora:wght@400;500;700&family=Macondo&display=swap');
:root {
    --lora-font: 'Lora', serif;
    --macoda-font: 'Macondo', cursive;
    --jetbrains-font: 'JetBrains Mono', monospace;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    background-color: #1b1b1b;
    color: aliceblue;

    display: grid;
    place-content: start center;
    min-height: 100vh;

    font-family: var(--jetbrains-font);
}

input[type="file"] {
    display: none;
}

input[type='text'],
input[type="number"] {
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 3px;
}

input {
    font-family: var(--jetbrains-font);
}

input:focus {
    outline: none;
    color: rgb(255, 70, 246);
}

.general select {
    width: 141px;
    background-color: transparent;
    color: aliceblue;
    border: none;
    font-family: var(--jetbrains-font);
}

.general select:focus {
    background-color: #303030;
}

inactive-model {
    display: none !important;
}

.notice-overlay{
    position: fixed;
    background-color: #751919;
    border: 7px solid #ad2929;
    width: 50rem;
    padding: 1rem;
    margin: 1% auto;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 0.25s;
}

.notice-overlay button {
    margin-top: 0.5rem;
    font-family: var(--jetbrains-font);
}

/* ------------------------------------------- */
/* DROPDOWN TEXT */

.log-holder {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    width: 13rem;
}

/* ------------------------------------------- */
/* MAIN GRID */

.main-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'header header header header dataHandle dataHandle'
        'titles titles titles titles titles titles'
        'bars bars bars bars skills skills'
        'mainStats subStats subStats subStats skills skills'
        'mainStats subStats subStats subStats skills skills'
        'mainStats currency currency savingThrows skills skills'
        'slots slots slots profs profs profs'
        'inv inv inv spells spells spells';

    width: min(95%, 70rem);
    /* padding-block: 1rem; */
    margin-inline: auto;

    border-bottom: 2px solid #acacac;
    border-left: 2px solid #acacac;
}

.main-grid-cell {
    padding: 1rem;
    border-top: 2px solid #acacac;
    border-right: 2px solid #acacac;
}

.stat-holder {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------------------------- */
/* HEADER */

.header h1 {
    font-size: 3.5rem;
    font-family: var(--macoda-font);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #1b1b1b;
    border: 3px solid aliceblue;
    margin: 7% auto;
    padding: 1rem;
    width: 40rem;
    max-height: 60%;
    overflow: auto;
}

.modal-content h1 {
    font-weight: bold;
}

/* ------------------------------------------- */
/* DATA HANDLING CELL */

.data-savings {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.upload-style {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #acacac;
    padding: 0.4rem;
    cursor: pointer;
    font-family: var(--jetbrains-font);
}

.download-style {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #acacac;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--jetbrains-font);
    background-color: transparent;
    color: aliceblue;
}

/* ------------------------------------------- */
/* GENERAL */

.general {
    display: inline-flex;
    justify-content: space-around;
    gap: 1.2rem;
}

.general-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.5rem;
    gap: 0.5rem;
    border-left: 2px solid aliceblue;
}

.general-item h3 {
    font-size: 1.21rem;
}


.general select {
    width: 141px;
}

.header-with-help {
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.help-icon {
    cursor: pointer;
}

/* ------------------------------------------- */
/* BARS */

.bars {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.bar-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 28rem;
}

.bar-outline {
    width: 23rem;
    border: 2px solid aliceblue;
    height: 1.5rem;
    border-radius: 50px;
    overflow: hidden;
}

.inner-bar {
    width: 100%;
    height: 100%;
    transition: width 1s ease-out;
}

#health-bar {
    background-color: #50ce65;
}

#mana-bar {
    background-color: #59b6c7;
}

#sanity-bar {
    background-color: #c15eda;
}

.bars-button-holder {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.bars-selection {
    display: inline-flex;
    gap: 0.3rem;
}

#healthButton { background-color: #50ce65; }

.bars-manipulation {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}

.bars-button {
    font-family: var(--jetbrains-font);
    font-size: 1.5rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

.bar-select-button {
    width: 6rem;
    padding: 0.4rem 0;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 7px;
    font-family: var(--jetbrains-font);
    transition: background-color 0.2s;
    cursor: pointer;
}

.bars-unit {
    width: 4rem;
    font-size: 1.3rem;
}

#add-bars { background-color: rgb(42, 129, 39); border: 2px solid rgb(62, 168, 58); }
#add-bars:hover { background-color: rgb(29, 95, 27); }
#subtract-bars { background-color: #923434; border: 2px solid #b14848; }
#subtract-bars:hover { background-color: #7a2929 }

/* ------------------------------------------- */
/* MAIN STATS */

.main-stat-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

/* ------------------------------------------- */
/* SUB STATS */

.sub-stats {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.sub-stat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.stat-input {
    width: 4rem;
    font-size: 1.25rem;
}

/* ------------------------------------------- */
/* SAVING THROWS */

.saving-throws {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.saving-holder {
    display: inline-flex;
    align-items: center;
}

.saving-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    border: 3px solid aliceblue;
    cursor: pointer;
}
.saving-line {
    width: 15px;
    height: 3px;
    background-color: aliceblue;
}

.saving-icon {
    width: 1.4rem;
    opacity: 0;
}

.reset-box {
    background-color: aliceblue;
    padding: 0.35rem;
}

/* ------------------------------------------- */
/* SKILLS */

.skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills h3 {
    text-decoration: underline;
}

.skills h4 {
    font-weight: normal;
}

.skills p {
    font-weight: bold;
}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skill-text {
    font-size: 1.1rem;
}

.main-skill-grid .stat-holder {
    cursor: pointer;
}

/* ------------------------------------------- */
/* SPACE ASSIGNING */

.header { grid-area: header; }
.data-savings { grid-area: dataHandle; }
.general { grid-area: titles; }
.bars { grid-area: bars; }
.skills { grid-area: skills; }
.main-stats { grid-area: mainStats; }
.sub-stats { grid-area: subStats; }
.currency { grid-area: currency; }
.saving-throws { grid-area: savingThrows; }
.slots { grid-area: slots; }
.proficiencies { grid-area: profs; }
.inventory { grid-area: inv; }
.spells { grid-area: spells; }